<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>App</title>
=======
    <title>Blog</title>
>>>>>>> origin/main
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
<<<<<<< HEAD
    <%= render  'layouts/navbar' %>
=======
>>>>>>> origin/main
    <%= yield %>
  </body>
</html>
